@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/*
 Sobre o box-sizing border-box:
 http://sergiolopes.org/css-box-sizing-border-box/
 */
* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/*
  Flex Direction: https://origamid.com/projetos/flexbox-guia-completo/#flex-direction

  No modo column os itens ficam em uma unica coluna, um abaixo do outro
*/
.root {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: white;
}

/*
  Flex Wrap: https://origamid.com/projetos/flexbox-guia-completo/#flex-wrap
*/
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;     /* Para a imagem nao criar uma borda pontuda na parte superior do box */
  position: relative;   /* Relativo para ser referencia ao .movie-overview */
  margin: 1rem;
  width: 300px;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

/*
 Sobre a propriedade position e o porque ele esta respeitando o elemento .movie:
 https://pt-br.learnlayout.com/position.html

 Sobre a propriedade transform:
 https://developer.mozilla.org/pt-BR/docs/Web/CSS/transform
*/
.movie-overview {
  background-color: #fff;
  color: #22254b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: rgb(5, 184, 5);
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}